.indianred
  color: indianred

.gray
  color: #666

.box
  border: dashed 1px #666
  padding: 1em

.list-underline+ol>li>p:first-child, .list-underline+ul>li>p:first-child
  border-bottom: dashed 1px #666
  padding: 0.5em

.underline
  border-bottom: dashed 1px #666

.wavy
  text-decoration: #666 wavy underline;

.dashed
  text-decoration: #666 dashed underline;

.list-lower-alpha+ol, .list-lower-alpha+ul
  list-style-type: lower-alpha

ol > li > h3
  margin: 0

.green
  color: rgba(86,124,119,0.8)

.bold
  font-weight: bold
