.indianred
  color: indianred

.gray
  color: gray

.box
  border: dashed 1px #666
  padding: 1em

.underline
  border-bottom: dashed 1px #666
  padding: 0.5em

.lower-alpha+ol, .lower-alpha+ul
  list-style-type: lower-alpha

ol > li > h3
  margin: 0